@{
    ViewData["Title"] = "Delete Employee";
}

<div class="text-center">
    <h1>Delete Employee</h1>
    <form method="post">
        <input type="number" name="id" placeholder="Enter ID" /> 
        <br>
        <button>Submit</button>
    </form>
</div>