@{
    ViewData["Title"]="Update Page";
}

<div class="text-center">
        <h1>Update Employee</h1>
    <form method="post">
        <input type="number" name="id" placeholder="Enter ID" /><br><br>
        <input type="text" name="name" placeholder="Enter Name" /><br><br>
        <input type="text" name="email" placeholder="Enter Email" /><br><br>
        <input type="text" name="contactnumber" placeholder="Enter Contact" /><br><br>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>